body{
    background-color: blanchedalmond;
}
/* h1,p,a{
    color: white;
} */
h1,p{
    text-align: center;
}
.max-wid{
    max-width: 800px;
}
h1{
    font-size: 56px;
}
img{
    display: block;
    margin: 0 auto;
}